<h1><%= @list.name %></h1>

<div class="container">
  <div class="container-bookmark">
    <% @list.bookmarks.each do |bookmark|  %>
      <div class="container-text">
        <h4><%= bookmark.movie.title %></h4>
        <p><%= bookmark.movie.overview %></p>
        <p><%= bookmark.comment %></p>
      </div>
      <div class="container-img">
        <img src="<%= bookmark.movie.poster_url %>" alt="">
      </div>
  </div>
    <button class="btn-delete">
      <%= link_to "Delete", bookmark_path(bookmark), class:"btn-bookmark", data: {turbo_method: :delete, turbo_confirm: "Sure my friend ? 🤔"} %>
    </button>
    <% end %>
</div>

<div class="container-button-list">
  <button type="button" class="btn">
    <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class:"btn-bookmark" %>
  </button>
  <button type="button" class="btn">
    <%= link_to "Back to list", lists_path, class:"btn-bookmark" %>
  </button>
</div>
